# === DATA & MODELS (se versionan con DVC, no en Git) ===
data/**
!data/.gitkeep

models/**
!models/.gitkeep

# DVC cache y temporales (mantén .dvc/ salvo cache/tmp)
.dvc/cache/
.dvc/tmp/

# Spark / Hive locales
spark-warehouse/
.metastore_db/
derby.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
*.egg-info/

# Notebooks
.ipynb_checkpoints/

# SO / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
