/ridge_by_aspect_brand.html
/box_by_aspect_brand.html
/top_brand_per_category_aspect.csv
/aspect_opportunity_bubble.html
/negatives_excess_heatmap.html
/negatives_table.csv
/simple_top_risks_overall.csv
/simple_top_strengths_overall.csv
/simple_top_risks_by_category.csv
/simple_top_strengths_by_category.csv
/simple_labels_all.csv
/violin_secondary_rating.html
/market_brand_panel.html
/market_brand_panel_sticky.html
/market_brand_bubbles.html
